svg {
    font-family: Sans-Serif, Arial;
}
.line {
  stroke-width: 4;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 14px;
}

.title-text {
  font-size: 14px;
}